.tabActive {
  background-color: #ededed !important;
  border-bottom: none !important;
}
.tabActive a {
  color: #5e5e5e !important;
  font-weight: 900;
}
.gameTabActive {
  border-bottom: 2px solid #1f8ecd;
}
.gameTabActive a {
  color: #1f8ecd !important;
}  

.black {
  color: #333 !important;
}
.green {
    color: #2daf7f !important;
}
.blue {
    color: #1f8ecd !important;
}
.orange {
    color: #e19205 !important;
}
.red {
    color: #c6443e !important;
}
.blueBg {
  background-color: #b0ceea;
  border-color: #b0ceea;
}
.redBg {
  background-color: #d6b5b2;
  border-color: #d6b5b2;
}